<div
  class="page-wrapper"
  id="main-wrapper"
  data-layout="vertical"
  data-navbarbg="skin6"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
>
  <!-- Sidebar Start -->
  <%- include('sidenav.ejs') %>
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->
    <header class="app-header"><%- include('nav.ejs') %></header>
    <!--  Header End -->
    <div class="container-fluid">
      <!--  Row 1 -->
      <div class="row">
        <div class="col-lg-8 d-flex align-items-strech">
          <div class="card w-100">
            <div class="card-body">
              <div
                class="d-sm-flex d-block align-items-center justify-content-between mb-9"
              >
                <div class="mb-3 mb-sm-0">
                  <h5 class="card-title fw-semibold">Sales Overview</h5>
                </div>
                <div>
                  <select class="form-select">
                    <option value="1">March 2023</option>
                    <option value="2">April 2023</option>
                    <option value="3">May 2023</option>
                    <option value="4">June 2023</option>
                  </select>
                </div>
              </div>
              <div id="chart"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12">
              <!-- Yearly Breakup -->
              <div class="card overflow-hidden">
                <div class="card-body p-4">
                  <h5 class="card-title mb-9 fw-semibold">Yearly Breakup</h5>
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h4 class="fw-semibold mb-3" id="totalSales">KES 0</h4>
                    </div>
                    <div class="col-4">
                      <div class="d-flex justify-content-center">
                        <div id="breakup"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <!-- Monthly Earnings -->
              <div class="card">
                <div class="card-body">
                  <div class="row alig n-items-start">
                    <div class="col-8">
                      <h5 class="card-title mb-9 fw-semibold">
                        Monthly Earnings
                      </h5>
                      <h4 class="fw-semibold mb-3">KES 6,820</h4>
                      <div class="d-flex align-items-center pb-1">
                        <span
                          class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center"
                        >
                          <i class="ti ti-arrow-down-right text-danger"></i>
                        </span>
                        <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                        <p class="fs-3 mb-0">last year</p>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="d-flex justify-content-end">
                        <div
                          class="text-white bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center"
                        >
                          <i class="ti ti-currency-dollar fs-6"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="earning"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="card w-100">
            <div class="card-body p-4">
              <div class="mb-4">
                <h5 class="card-title fw-semibold">Recent Transactions</h5>
              </div>
              <ul
                id="recent-sales-list"
                class="timeline-widget mb-0 position-relative mb-n5"
              ></ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="card w-100">
            <div class="card-body p-4">
              <h5 class="card-title fw-semibold mb-4">Recent Transactions</h5>
              <div class="table-responsive">
                <table class="table text-nowrap mb-0 align-middle">
                  <thead class="text-dark fs-4">
                    <tr>
                      <th class="border-bottom-0">Id</th>
                      <th class="border-bottom-0">Status</th>
                      <th class="border-bottom-0">Phone</th>
                      <th class="border-bottom-0">Amount</th>
                      <th class="border-bottom-0">Transaction ID</th>
                      <th class="border-bottom-0">Transaction Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Table rows will be populated dynamically using JavaScript -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xl-3">
          <div class="card overflow-hidden rounded-2">
            <div class="position-relative">
              <a href="javascript:void(0)"
                ><img
                  src="/img/uploads/image2.jpeg"
                  class="card-img-top rounded-0"
                  alt="."
              /></a>
              <a
                href="javascript:void(0)"
                class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Add To Cart"
                ><i class="ti ti-basket fs-4"></i
              ></a>
            </div>
            <div class="card-body pt-3 p-4">
              <h6 class="fw-semibold fs-4">Flasks</h6>
              <div class="d-flex align-items-center justify-content-between">
                <h6 class="fw-semibold fs-4 mb-0">
                  KES 50
                  <span class="ms-2 fw-normal text-muted fs-3"
                    ><del>KES 65</del></span
                  >
                </h6>
                <ul class="list-unstyled d-flex align-items-center mb-0">
                  <li>
                    <a class="me-1" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                  <li>
                    <a class="me-1" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                  <li>
                    <a class="me-1" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                  <li>
                    <a class="me-1" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                  <li>
                    <a class="" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="card overflow-hidden rounded-2">
            <div class="position-relative">
              <a href="javascript:void(0)"
                ><img
                  src="/img/uploads/image3.jpeg"
                  class="card-img-top rounded-0"
                  alt="."
              /></a>
              <a
                href="javascript:void(0)"
                class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Add To Cart"
                ><i class="ti ti-basket fs-4"></i
              ></a>
            </div>
            <div class="card-body pt-3 p-4">
              <h6 class="fw-semibold fs-4">Wooden designs</h6>
              <div class="d-flex align-items-center justify-content-between">
                <h6 class="fw-semibold fs-4 mb-0">
                  KES 650
                  <span class="ms-2 fw-normal text-muted fs-3"
                    ><del>KES 900</del></span
                  >
                </h6>
                <ul class="list-unstyled d-flex align-items-center mb-0">
                  <li>
                    <a class="me-1" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                  <li>
                    <a class="me-1" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                  <li>
                    <a class="me-1" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                  <li>
                    <a class="me-1" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                  <li>
                    <a class="" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="card overflow-hidden rounded-2">
            <div class="position-relative">
              <a href="javascript:void(0)"
                ><img
                  src="/img/uploads/image6.jpeg"
                  class="card-img-top rounded-0"
                  alt="."
              /></a>
              <a
                href="javascript:void(0)"
                class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Add To Cart"
                ><i class="ti ti-basket fs-4"></i
              ></a>
            </div>
            <div class="card-body pt-3 p-4">
              <h6 class="fw-semibold fs-4">Custom made</h6>
              <div class="d-flex align-items-center justify-content-between">
                <h6 class="fw-semibold fs-4 mb-0">
                  KES 150
                  <span class="ms-2 fw-normal text-muted fs-3"
                    ><del>KES 200</del></span
                  >
                </h6>
                <ul class="list-unstyled d-flex align-items-center mb-0">
                  <li>
                    <a class="me-1" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                  <li>
                    <a class="me-1" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                  <li>
                    <a class="me-1" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                  <li>
                    <a class="me-1" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                  <li>
                    <a class="" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="card overflow-hidden rounded-2">
            <div class="position-relative">
              <a href="javascript:void(0)"
                ><img
                  src="/img/uploads/image4.jpeg"
                  class="card-img-top rounded-0"
                  alt="."
              /></a>
              <a
                href="javascript:void(0)"
                class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Add To Cart"
                ><i class="ti ti-basket fs-4"></i
              ></a>
            </div>
            <div class="card-body pt-3 p-4">
              <h6 class="fw-semibold fs-4">Message gifts</h6>
              <div class="d-flex align-items-center justify-content-between">
                <h6 class="fw-semibold fs-4 mb-0">
                  KES 285
                  <span class="ms-2 fw-normal text-muted fs-3"
                    ><del>KES 345</del></span
                  >
                </h6>
                <ul class="list-unstyled d-flex align-items-center mb-0">
                  <li>
                    <a class="me-1" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                  <li>
                    <a class="me-1" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                  <li>
                    <a class="me-1" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                  <li>
                    <a class="me-1" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                  <li>
                    <a class="" href="javascript:void(0)"
                      ><i class="ti ti-star text-warning"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('footer.ejs') %>
    </div>
  </div>
</div>
<script>
  // Get a reference to the <ul> element
  const recentSalesList = document.getElementById("recent-sales-list");

  // Function to fetch and display recent sales records
  async function displayRecentSales() {
    try {
      const response = await fetch("/api/recentsales");
      if (response.ok) {
        const salesData = await response.json();

        // Iterate through the sales data and create list items
        salesData.forEach((sale) => {
          const listItem = document.createElement("li");
          listItem.className =
            "timeline-item d-flex position-relative overflow-hidden";
          listItem.innerHTML = `
          <div class="timeline-time text-dark flex-shrink-0 text-end">${sale.timestamp}</div>
          <div class="timeline-badge-wrap d-flex flex-column align-items-center">
            <span class="timeline-badge border-2 border border-primary flex-shrink-0 my-8"></span>
            <span class="timeline-badge-border d-block flex-shrink-0"></span>
          </div>
          <div class="timeline-desc fs-3 text-dark mt-n1">
            Payment received from ${sale.customer} of KES ${sale.amount}
          </div>
        `;
          recentSalesList.appendChild(listItem);
        });
      } else {
        console.error("Failed to fetch recent sales data");
      }
    } catch (error) {
      console.error("Error:", error);
    }
  } // Call the function to display recent sales

  // Function to fetch and display total sales per year
  async function displaySalesPerYear() {
    try {
      const response = await fetch("/api/salesperyear"); // Replace with your API endpoint URL
      if (response.ok) {
        const data = await response.json();
        // Assuming data is an array of objects with "year" and "totalSales" properties

        const totalSalesElement = document.getElementById("totalSales");
        if (data.length > 0) {
          const latestYearSales = data[data.length - 1]; // Assuming the data is sorted by year
          totalSalesElement.textContent = `KES ${latestYearSales.totalSales}`;
        }
      } else {
        console.error("API request failed");
      }
    } catch (error) {
      console.error("Error:", error);
    }
  }
  // Function to fetch and display recent transactions
  async function displayRecentTransactions() {
    try {
      const response = await fetch("/api/recenttransactions"); // Replace with your API endpoint URL
      if (response.ok) {
        const data = await response.json();

        // Get a reference to the table's tbody
        const tableBody = document.querySelector(".table tbody");

        // Clear the existing table rows
        tableBody.innerHTML = "";

        // Loop through the transaction data and populate the table
        data.forEach((transaction) => {
          const row = document.createElement("tr");
          row.innerHTML = `
          <td class="border-bottom-0">${transaction.id}</td>
          <td class="border-bottom-0">${transaction.status}</td>
          <td class="border-bottom-0">${transaction.phone}</td>
          <td class="border-bottom-0">${transaction.amount}</td>
          <td class="border-bottom-0">${transaction.trans_id}</td>
          <td class="border-bottom-0">${transaction.trans_date}</td>
        `;
          tableBody.appendChild(row);
        });
      } else {
        console.error("API request failed");
      }
    } catch (error) {
      console.error("Error:", error);
    }
  }

  displaySalesPerYear();
  displayRecentSales();
  displayRecentTransactions();
</script>
