<body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      localStorage.removeItem("adminToken");
      // Reload the page after clearing the token
      window.location.reload();
    });
  </script>
</body>
